body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightpink;
}

.black-button {
  float: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: lightpink;
  border: darkred;
}

.black-button:hover {
  float: left;
  background-color: lightpink;
  color: rgba(0, 0, 0, 0.7);
  border: darkred;
}

/*.button-toolbar {
 

}*/

.popover-parent {
  background-color: rgba(0, 0, 0, 0.7);
  color: lightpink;
}

.popover-child {
  background-color: rgba(0, 0, 0, 0.7);
  color: lightpink;

  font-family: 'Menlo'
}

/*.circle {
  background-color: black;
  color: red;
  border: darkred;
}*/

.central-div {
  position: fixed;
  bottom: 70%;
  right: 30%;
  width: 500px;
  background-color: lightpink;
}

.top-central-div {
  position: fixed;
  bottom: 85%;
  right: 27%;
  width: 600px;
  background-color: red;
   font-family: 'Menlo'
}