body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./assets/wall.png');
}

.black-button {
  float: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: lightpink;
  border: darkred;
}

.black-button:hover {
  float: left;
  background-color: rgba(255,182,193, 0.7);
  color: rgba(0, 0, 0, 0.7);
  border: darkred;
}

/*.button-toolbar {
 

}*/

/*.popover-parent {
  background-color: rgba(0, 0, 0, 0.7);
  color: lightpink;
}

.popover-child {
  background-color: rgba(0, 0, 0, 0.7);
  color: lightpink;
  font-family: 'Menlo'
}*/

/*.circle {
  background-color: black;
  color: red;
  border: darkred;
}*/

.central-div {
  position: fixed;
  bottom: 70%;
  right: 30%;
  width: 500px;
}

.top-central-div {
  position: relative;;
  width: 600px;
  margin-left: calc(50% - 300px);
  margin-right: calc(50% - 300px);
  font-family: 'Arial';
}

.btn-toolbar {
  position: relative;
  width: 600px;
  text-align: center;
  margin-left: calc(50% - 300px);
  margin-right: calc(50% - 300px);
}

.btn-toolbar button {
  margin: 5px 7px 0 7px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*.middle-main-div {
  position: fixed;
  bottom: 55%;
  right: 30%;
  width: 600px;
  font-family: 'Arial';
  background-color:rgba(255,182,193, 0.7) 
}*/

.middle-main-div {
  position: fixed;
  bottom: 30%;
  right: 28%;
  width: 600px;
  font-family: 'Menlo';
  background-color:rgba(255,182,193, 0.7); 
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
    column-count: 2;
  font-size: 16px;
}

.top-middle-left-div {
  position: absolute;
  bottom: -280%;
  right: 120%;
  width: 300px;
  font-family: 'Menlo';
  background-color:rgba(255,182,193, 0.7); 
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
    column-count: 2;
  font-size: 16px;
}


.fade {
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
       -o-transition: opacity 500ms linear;
          transition: opacity 500ms linear;
}

.in {
  opacity: 1;
}